<div class="jumbotron">
    <h1>Welcome home son</h1>
    <h2>Site Prototype</h2>
    <%= #link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" 
    %>  
</div>
<img alt="Rails" src="/assets/rails.png">

