<% provide(:title, @user.name) %>
<div class="row">
    <h1 class="pull-left">
        <%= gravatar_for @user %>
        <%= @user.name %>
    </h1>
</div>
<br>
Name: <%= @user.name %><br>
Email: <%= @user.email %>