<footer class="footer">
  <small>
    Copyright &copy; 2015 <a href="/">Company</a>.  All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
      <li><%= link_to "Signup", signup_path %></li>
    </ul>
  </nav>
</footer>